parameters:
    level: max
    paths:
        - src
        - tests

    reportUnmatchedIgnoredErrors: true

    ignoreErrors:
        - '#Call to an undefined method Mockery\\.*#'
        - '#Method .+::(createMockedInput|createMockedOutput)\(\) should return .+ but returns Mockery\\MockInterface.#'
